body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Header */

header .navbar-brand img {
    width: 120px;
}

header .nav-link,
header .dropdown-item {
    color: #cc4764;
}

#navbarSupportedContent {
    padding-left: 120px;
    justify-content: space-between;
}

header .nav-link:after {
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    border: 0;
    background: #cc4764;
    margin: 0px auto;
    transition: all 1s
}

header .nav-link:hover:after {
    width: 80%
}

header .navbar-light .navbar-nav .nav-link,
header .navbar-light .navbar-nav .active>.nav-link,
header .navbar-light .navbar-nav .nav-link.active,
header .navbar-light .navbar-nav .nav-link.show,
header .navbar-light .navbar-nav .show>.nav-link,
header .navbar-light .navbar-nav .nav-link:focus,
header .navbar-light .navbar-nav .nav-link:hover {
    color: #cc4764;
    text-transform: uppercase;
    font-weight: bold;
}


/* Footer */

footer h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.5em
}

footer h2:after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background: #b79c7b;
    margin: 20px auto
}

footer>div {
    padding: 50px 0
}

footer .social-network {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}

footer>div:first-child {
    background-color: #f4f4f4;
    padding-bottom: 40px;
    text-align: center
}

footer>div:last-child {
    background-color: #cc4764;
    padding-bottom: 40px
}

footer>div:last-child * {
    color: #FFF
}

footer>div:last-child div.col-md-6 {
    margin-top: 20px
}

@media (min-width: 768px) {
    footer>div:last-child div.col-md-6 {
        margin-top: 0px;
        padding-left: 100px
    }
}

footer>div:last-child ul {
    margin: 20px 0;
    padding: 0
}

@media (min-width: 576px) {
    footer>div:last-child ul {
        margin: 0
    }
}

footer>div:last-child ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.8em
}

footer p {
    word-break: break-word
}

footer p b {
    display: block
}

footer .logo {
    width: 160px;
    margin-left: 450px;
}

@media(max-width: 700px) {
    footer .logo {
        margin-left: -30px;
    }
}


/* Main */

#direction {
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#direction h1 {
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 0px 10px rgb(240, 71, 71);
}

#products a {
    display: block;
    background-color: #f4f4f4;
    text-transform: uppercase;
    color: #b79c7b;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    transition: all 1s;
}

#products .wrapper {
    position: relative;
}

#products .layout {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #b79c7b88;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    display: flex;
}

#products .wrapper:hover .layout {
    opacity: 1;
}

#products .layout div {
    background: #b79c7b88;
    color: #FFF;
    text-align: center;
    padding: 30px;
}

#products .layout div * {
    color: #FFF;
}

#products .layout a {
    padding: 0;
    margin-top: -20px;
}

#products img {
    width: 500px;
    height: 450px;
}

#products .col {
    margin-top: 60px;
}

h2 {
    text-align: center;
    font-weight: 300;
    margin: 50px 0;
    color: #cc4764;
}

h2:after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background-color: #cc4764;
    margin: auto;
}

#histoire p {
    color: #cc4764;
    text-align: center;
}

#produits {
    color: gray;
    text-align: center;
    padding-top: 60px;
}

#produits img {
    width: 280px;
    padding: 20px
}


/* Maps */

#find-us iframe {
    width: 96%;
    margin-bottom: 50px;
}